<article>
	<%= link_to image_path('fulls/01'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/01", :alt => "pic") %>	
	<% end %>	
	<div class="text-pic">
		<h2>Tamr</h2>
		<p>Me hace falta un amigo para jugar.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/02'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/02", :alt => "pic") %>	
	<% end %>	
	<div class="text-pic">
		<h2>Osmo</h2>
		<p>Definitivamente aquí no venimos a jugar.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/03'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/03", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Nauto</h2>
		<p>Houston estamos llegando a la luna de queso.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/04'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/04", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Nauto</h2>
		<p>Llegamos a destino Houston.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/05'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/05", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Mobvoi</h2>
		<p>Ya capture el objetivo.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/06'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/06", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Arterys</h2>
		<p>No pinta muy bien el clima para esta misión bro.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/07'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/07", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Zoox</h2>
		<p>Rayos, esto se prendio.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/08'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/08", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Anki</h2>
		<p>Me tiene intrigado lo que pueda pasar en el futuro.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/09'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/09", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Victorioso</h2>
		<p>Este ejemplar no se anda con chiquitas.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/10'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/10", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Snectus</h2>
		<p>Por lo tanto, hacer algo original y con poco código.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/11'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/11", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Reflektion</h2>
		<p>No mucho que hacer, esto se jodio.</p>
	</div>
</article>
<article>
	<%= link_to image_path('fulls/12'), 
		:class => "thumbnail",
		:data => { position: "left center"} do %>
		<%= image_tag("thumbs/12", :alt => "pic") %>	
	<% end %>
	<div class="text-pic">
		<h2>Workey</h2>
		<p>Que tenemos para hoy en la bandeja de entrada.</p>
	</div>
</article>