<!DOCTYPE html>
<html>
<head>
  <title>Cats AI</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="is-preload-0 is-preload-1 is-preload-2">
  <div id="main">
    <!-- Header -->
    <header id="header">
      <h1><%= link_to root_path, target:"_self" do %>Cats.ai<% end %></h1>
      <%= link_to "Ver más información",about_path, target:"_self" %>
      <p>Gatos creados con la inteligencia artificial de  
        <%= link_to("Leonardo.ai", "https://app.leonardo.ai/", :target=>"_blank") %>
      </p>
      <ul class="icons">
        <li><a href="https://twitter.com/LeonardoAi_" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.instagram.com/leonardoaiofficial/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/mach-911/template-rails-d2" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://www.youtube.com/watch?v=HUrzxiHZi6o" class="icon brands fa-youtube" target="_blank"><span class="label">Email</span></a></li>
      </ul>
    </header>
  <section id="thumbnails">
    <%= yield %>
    <!-- Footer -->
  </section>
    <footer id="footer">
      <ul class="copyright">
        <li>&copy; 2023</li><li>Enidev911.</li>
      </ul>
    </footer>
  </div>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "browser.min" %>
  <%= javascript_include_tag "breakpoints.min" %>
  <%= javascript_include_tag "main" %>
  <script src="https://kit.fontawesome.com/6b8f0c7049.js" crossorigin="anonymous"></script>
</body>
</html>
